################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/App/bin/Debug/net6.0
/App/obj
/App/bin/Release/net6.0
